<!DOCTYPE html>
<!-- flash error messages -->
<!-- get fav icon -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lucky Bid Homepage</title>
    <link rel="stylesheet" href="../static/luck/css/style.css">
</head>
<body>
    <div id = rapper>
        <h1>Welcome to LuckyBid! </h1>
        <h2> The Lottery you can actually win </h2>
        <h2> Items are priced between $60-80 </h2>
        <h2> You pay 1$ per 1% chance of winning </h2>
        <h3> After 100 people bid, the winner gets it shipped to him or her for free!</h3>
        <!-- // product pages -->
        <div id = "display">
            <img src="../static/luck/images/LuckyBid.jpg" alt="luckybid logo">
        </div>
        <!-- LOGIN REG  brcypt install -->
        <a href="/loginreg">Click here to register</a>
        <a href="/loginreg2">Click here to login</a>
        <a href="/db">View Database</a>
        <a href="/product">Add Products</a>


    </div>
    
</body>
</html>