<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product UI</title>
</head>
<body>
    <h1>Add Product UI</h1>
    <h2>Admin Only</h2>

    <form action="/addproduct" method="POST" id = "addpro">
                {% csrf_token %}
        <p>Name<input type="text" name="name"></p>
        <p>Price<input type="number" name="price"></p>
        <!-- <p>Description<input type="text" name="description"></p> -->
        <p>Description:</p> <textarea name="description" form="addpro" cols="30" rows="10"></textarea>
            
        <p>Category<input type="text" name="category"></p>
        <p><input type="submit" value="obey"></p>
    </form>
       
        
    <a href="/">Go home</a>
</body>
</html>