<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/luck/css/truewelcome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div id="rapper">
            <h1>Welcome, {{you.first_name}} {{you.last_name}}</h1>
            <h2> <a href="/products">Go Shopping!</a> </h2>
            <h2>ID: {{me}}</h2>
            <h3>Email: {{you.email}} <a href="/edit/{{you.id}}">Edit?</a> </h3>
            <h3>Shipping Address: {{you.address}}</h3>
            <h4>Lucky Bucks: {{you.luckybucks}}</h4>
            <h6> <a href="/db">View DB</a> </h6>
        <h5> <a href="/money">Add Lucky Bucks?</a></h5>
        <div id = "mybids">
                <table>
                        <tr>
                          <th>Price</th>
                          <th>Product</th>
                          <th>Bidder</th>
                          <th>Winner</th>
                        </tr>
                        <tr>
                          {% for bid in bids %}
                            {% if bid.bidder.first_name == you.first_name %}
                            <td>${{bid.product.price}}</td>
                            <td><a href="/product/{{bid.product.id}}">{{bid.product.name}}</a></td>
                            <td>{{bid.bidder.first_name}}</td>
                            <td>{{bid.product.winner}}</td>
                        </tr>
    
                            {% endif %}
                            {% endfor %}
                        </tr>
                        
                </table>
        </div>
            

            <a href="/logout">Logout?</a>
            <a href="/db">View DB</a>
            <a href="/products">View Products</a>

    </div>
    

</body>
</html>