<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/luck/css/welcome.css">
</head>
<body>
    <div id="rapper">
            <h1>Welcome, {{you.first_name}} {{you.last_name}}</h1>

            <h2>ID: {{me}}</h2>
            <h3>Email: {{you.email}}</h3>
            <h3>Shipping Address: {{you.address}}</h3>

            {% for bid in bids %}
                {% if bid.bidder.first_name == you.first_name %}
                <p>  ${{bid.product.price}} <a href="/product/{{bid.product.id}}">{{bid.product.name}}</a>  by {{bid.bidder.first_name}}</p>
                {% endif %}
            {% endfor %}

            <a href="/logout">Logout?</a>
            <a href="/db">View DB</a>
    </div>
    

</body>
</html>