body{
    background-image: url(../images/bright.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h2 a:hover{
    color:green;
}
*{
    color:black;
}
#rapper{
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#mybids{
    height: 500px;
    overflow: auto;
}
a{
    text-decoration: none;
}

#bidz{
    height: 420px;
    overflow: auto;
}