body{
    background-image: url(../images/welome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    color:whitesmoke;
}
#rapper{
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

#bidz{
    height: 420px;
    overflow: auto;
}